<div class="container">
  <h1>Cocktails</h1>
  <div class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cocktail-card">
          <div class="cocktail-card-image">
            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, crop: :fit %>
            <% else %>
              <%= image_tag("cocktail-default-home.svg", alt: "Cocktail photo") %>
            <% end %>
          </div>
          <h2><%= cocktail.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

