.form-container {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  border-radius: 4px;
  padding: 35px;
  margin-top: 60px;
  min-height: 100vh;
  h1 {
    color: $green-dark;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.form {
  width: 100%;
  margin-left: 60px;
}

.btn-margin {
  margin-top: 30px;
}

.btn-outline {
  border: 1px solid $green-dark;
  margin-left: 10px;
  &:hover {
    background-color: #ced4da;
  }
}

input::-webkit-file-upload-button {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 6px 12px;
  color: $green-dark;
  &:hover {
    border: 1px solid $green-dark;

  }
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-selection__arrow {
  height: 40px !important;
}
