// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "footer";
@import "navbar";

.container h1 {
  color: white;
  text-align: center;
  margin: 50px;
}

.form-container {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  border-radius: 4px;
  padding: 35px;
  margin-top: 60px;
  h1 {
    color: $green-dark;
    margin-top: 10px;
  }
}

.cocktail-card {
  color: white;
  border: white 2px solid;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
}
