// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "footer";
@import "navbar";

.container h1 {
  color: white;
  text-align: center;
  margin: 50px;
}

.cocktail-card {
  color: white;
  border: white 2px solid;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
}
